<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Modify Invoice</title>
   <meta charset="UTF-8" />
  
</head>
<body>
    <h2>Modify invoice</h2>
    <form action="#" th:action="@{/invoice/update}" 
                     th:object="${invoice}" method="post"> 
      <table>
       <tr style="display:none">
				<td class="a"><label>Number</label></td>
				<td class="b"><input type="text" th:field="*{number}" /></td>
				<td class="b" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></td>
			</tr>		
			<tr>
				<td class="a"><label>Elderly DNI</label></td>
				<td class="b"><input type="text" th:field="*{elderlyDNI}" /></td>
				<td class="b" th:if="${#fields.hasErrors('elderlyDNI')}" th:errors="*{elderlyDNI}"></td>
			</tr>
			<tr>
				<td class="a"><label>Request Number</label></td>
				<td class="b"><input type="text" th:field="*{requestNumber}" /></td>
				<td class="b" th:if="${#fields.hasErrors('requestNumber')}" th:errors="*{requestNumber}"></td>
			</tr>
			<tr>
				<td class="a"><label>Date</label></td>
				<td class="b"><input type="date" th:field="*{date}"/></td>
					<td class="b" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></td>
			</tr>
			<tr>
				<td class="a"><label>Amount</label></td>
				<td class="b"><input type="text" th:field="*{amount}" /></td>
				<td class="b" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></td>
			</tr>
			<tr>
				<td class="a"><label>Concept</label></td>
				<td class="b"><input type="text" th:field="*{concept}" /></td>
				<td class="b" th:if="${#fields.hasErrors('concept')}" th:errors="*{concept}"></td>
			</tr>
        
    
        <tr>
            <td colspan="2"><input type="submit" value="Modify Invoice" /></td>
        </tr>
      </table>
    </form>
</body>
</html>