<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<title>Modify Invoice</title>
<meta charset="UTF-8" />

</head>
<body>
	<div layout:fragment="content">
		<div class="container">	
			<h1 class="text-center">New invoice</h1>
			<form class="w-50 mx-auto" action="#" th:action="@{/invoice/update}" th:object="${invoice}" method="post">
	 			<div class="form-group" style="display:none">
					<label class="font-weight-bold h3">Number</label>
					<input th:field="*{number}" type="text" class="form-control" aria-describedby="numberHelp" placeholder="Number">
					<small th:if="${#fields.hasErrors('number')}" th:errors="*{number}" id="numberHelp" class="form-text text-danger"></small>
				</div> 
				<div class="form-group">
					<label class="font-weight-bold h3">Elderly DNI</label>
					<input th:field="*{elderlyDNI}" readonly type="text" class="form-control" aria-describedby="elderlyDNIHelp" placeholder="Elderly DNI">
					<small th:if="${#fields.hasErrors('elderlyDNI')}" th:errors="*{elderlyDNI}" id="elderlyDNIHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Request Number</label>
					<input th:field="*{requestNumber}" readonly type="text" class="form-control" aria-describedby="requestNumberHelp" placeholder="Request number">
					<small th:if="${#fields.hasErrors('requestNumber')}" th:errors="*{requestNumber}" id="requestNumberHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Date</label>
					<input th:field="*{date}" type="date" class="form-control" aria-describedby="dateHelp" placeholder="Date">
					<small th:if="${#fields.hasErrors('date')}" th:errors="*{date}" id="dateHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Amount</label>
					<input th:field="*{amount}" type="text" class="form-control" aria-describedby="amountHelp" placeholder="Amount">
					<small th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" id="amountHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Concept</label>
					<input th:field="*{concept}" type="text" class="form-control" aria-describedby="conceptHelp" placeholder="Concept">
					<small th:if="${#fields.hasErrors('concept')}" th:errors="*{concept}" id="conceptHelp" class="form-text text-danger"></small>
				</div>
						
				<button type="submit" class="btn btn-info w-100">Update invoice</button>
			</form>
		</div>
	</div>	
</body>
</html>