<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/estilosaboutus.css"
	th:href="@{/css/estilosaboutus.css}" />

</head>


<body>
	<div layout:fragment="content">
		<div class="aboutus-section">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="aboutus">
							<h2 class="aboutus-title">About Us</h2>
							<p class="aboutus-text">Our objective is to guarantee the
								tranquility of family members and maintain the physical and
								cognitive capacities of our residents, adapting to autonomous
								people and those who are in a situation of dependency. For this,
								a large team of professionals specialized in cleaning, food and
								sanitation It works with the mission of caring for and
								supporting those people who have made the decision to use these
								services so that they enjoy the greatest well-being, quality of
								life, care and experiences.</p>
						</div>
						<div class="aboutus">
							<h2 class="aboutus-title">Contact us</h2>
							<a class="aboutus-text">Laurentiu Marcel Rosu:
								al361944@uji.es</a><br> <a class="aboutus-text">Eric
								Fabregat Garcia: al361928@uji.es</a>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="aboutus-banner">
							<img src="../aboutus.png">
						</div>
					</div>
					<div class="col-md-5 col-sm-6 col-xs-12">
						<div class="feature">
							<div class="feature-box">
								<div class="clearfix">

									<div class="feature-content">
										<div class="row">
											<i class="fas fa-hand-sparkles pr-2 fa-2x"></i>
											<h4>Cleaning</h4>
										</div>
										<p>Cleaning services with flexible schedule</p>
									</div>
								</div>
							</div>
							<div class="feature-box">
								<div class="clearfix">
									<div class="feature-content">
										<div class="row">
											<i class="fas fa-utensils pr-2 fa-2x"></i>
											<h4>Launch</h4>
										</div>
										<p>Delivery service of food for launch</p>
									</div>
								</div>
							</div>
							<div class="feature-box">
								<div class="clearfix">

									<div class="feature-content">
										<div class="row">
											<i class="fas fa-hand-holding-medical pr-2 fa-2x"></i>
											<h4>Health service</h4>
										</div>
										<p>Sanitary service available 24/7</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
