<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/estilosaboutus.css"
	th:href="@{/css/estilosaboutus.css}" />

</head>


<body>
<div layout:fragment="content">
<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                      <p class="aboutus-text">Nuestro objetivo es garantizar la tranquilidad de los familiares y mantener las capacidades físicas y cognitivas de nuestros residentes, 
                      adaptándonos a personas autónomas y a quienes se encuentran en situación de dependencia. Para ello, un gran equipo de profesionales especializados en limpieza, comida y sanidad 
                      trabaja con la misión de cuidar y apoyar a aquellas personas que han tomado la decisión de usar estos servicios para que disfruten del mayor bienestar, calidad de vida, 
                      cuidado y experiencias.</p>
                    </div>
                    <div class="aboutus">
                        <h2 class="aboutus-title">Contact us</h2>
                      <a class="aboutus-text">Laurentiu Marcel Rosu: 	al361944@uji.es</a><br>
                      <a class="aboutus-text">Eric Fabregat Garcia:		al361928@uji.es</a>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="../aboutus.png">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                              
                                <div class="feature-content">
                                    <div class="row">
	                                	<i class="fas fa-hand-sparkles pr-2 fa-2x"></i>
	                                    <h4>Limpieza</h4>
                                    </div>
                                    <p>Servicios de limpieza con horario flexible</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="feature-content">
                                	<div class="row">
	                                	<i class="fas fa-utensils pr-2 fa-2x"></i>
	                                    <h4>Comida</h4>
                                    </div>
                                    <p>Comida a domicilio con horario flexible</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                               
                                <div class="feature-content">
                                    <div class="row">
	                                	<i class="fas fa-hand-holding-medical pr-2 fa-2x"></i>
	                                    <h4>Sanidad</h4>
                                    </div>
                                    <p>Médico a domicilio las 24h</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
