<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>


</head>
<body>
<div layout:fragment="content">
	<a href="../request/list"  type="button" class="btn btn-info btn-lg btn-block">Gestionar solicitudes de nuevos integrante en el programa</a>
	<a href="../elderly/listsocialworker"  type="button" class="btn btn-info btn-lg btn-block">Asignar asistente social a un elderly</a>
	<a href="../invoice/list"  type="button" class="btn btn-info btn-lg btn-block">Generar nuevo recibo</a>
</div>
</body>
</html>