<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<title>Login</title>
<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/estiloslogin.css"
	th:href="@{/css/estiloslogin.css}" />
</head>
<body>
	<div layout:fragment="content">
	    <div class="container">
	    <div class="row justify-content-center">
	    <div class="col-lg-6">
		    <form class="form-signin m-4"  action="#" th:action="@{/login}" th:object="${user}" method="post">
		      <div class="text-center mb-4">
		        <i class="fas fa-user-md fa-4x m-4"></i>
		        <h1	 class="h3 mb-3 font-weight-bold">Login</h1>
		      </div>
		
		      <div class="form-label-group">
		        <label class="font-weight-bold h4" for="inputEmail">Username</label>
		        <input th:field="*{username}" type="text" id="inputEmail" class="form-control" placeholder="Username" required="true" autofocus="">
		        
		      </div>
		
		      <div class="form-label-group">
		       	<label class="font-weight-bold h4 mt-3" for="inputPassword">Password</label>
		        <input  th:field="*{password}" type="password" id="inputPassword" class="form-control" placeholder="Password" required="true">
		        
		      </div>
		      <button class="btn btn-lg btn-info btn-block mt-3" type="submit">Sign in</button>
		    </form>
	    </div>
	    </div>
		</div>
	</div>
</body>
</html>
