<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>List Elderly</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>List Elderly</h1>
   <table>
     <thead>
       <tr>
         <th>Name</th>
         <th>surname</th>
         <th>DNI</th>
         <th>Birth Date</th>
         <th>Address</th>
         <th>Phone Number</th>
         <th>Banc Account Number</th>
         <th>Email</th>
         <th>Date Creation</th>
         <th>Alergies</th>
         <th>Diseases</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="elderly: ${elderlys}"> 
         <td th:text="${elderly.name}"></td> 
         <td th:text="${elderly.surname}"></td>
         <td th:text="${elderly.DNI}"></td>
         <td th:text="${elderly.birthDate}"></td>
         <td th:text="${elderly.address}"></td>
         <td th:text="${elderly.phoneNumber}"></td>
         <td th:text="${elderly.bankAccountNumber}"></td>
         <td th:text="${elderly.email}"></td>
         <td th:text="${elderly.userPwd}"></td>
         <td th:text="${elderly.dateCreation}"></td>
         <td th:text="${elderly.alergies}"></td>
         <td th:text="${elderly.diseases}"></td>
         <td><a th:href="@{/elderly/update/{DNI}(DNI=${elderly.DNI})}">Edita</a> 
         </td>
         <td><a th:href="@{/elderly/delete/{DNI}(DNI=${elderly.DNI})}">Esborra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add">Add elderly</a> 
</body>
</html>
