<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<title>List Elderly</title>
<meta charset="UTF-8" />

<link rel="stylesheet" type="text/css" href="/css/estiloslist.css"
	th:href="@{/css/estiloslist.css}" />
</head>
<body>
	<div layout:fragment="content">
	<h1>List of elderlies</h1>
	<table class="table table-sm">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>DNI</th>
				<th>Birthdate</th>
				<th>Address</th>
				<th>Phone number</th>
				<th>Bank account number</th>
				<th>Email</th>
				<th>Date creation</th>
				<th>Alergies</th>
				<th>Diseases</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="elderly: ${elderlys}">
				<td th:text="${elderly.name}"></td>
				<td th:text="${elderly.surname}"></td>
				<td th:text="${elderly.DNI}"></td>
				<td th:text="${elderly.birthDate}"></td>
				<td th:text="${elderly.address}"></td>
				<td th:text="${elderly.phoneNumber}"></td>
				<td th:text="${elderly.bankAccountNumber}"></td>
				<td th:text="${elderly.email}"></td>
				<td th:text="${elderly.dateCreation}"></td>
				<td th:text="${elderly.alergies}"></td>
				<td th:text="${elderly.diseases}"></td>
				<td><a class="btn btn-warning"
					th:href="@{/elderly/update/{DNI}(DNI=${elderly.DNI})}">Edita</a></td>
				<td><a class="btn btn-danger"
					th:href="@{/elderly/delete/{DNI}(DNI=${elderly.DNI})}">Esborra</a>
				</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-info btn-lg btn-block " href="add">Add
		elderly</a>
	</div>
</body>
</html>
