<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<title>Update elderly</title>
<meta charset="UTF-8" />
	
</head>
<body>
	<div layout:fragment="content">
	<div class="container">	
		<h1 class="text-center">Update elderly</h1>
		<form class="w-50 mx-auto" action="#" th:action="@{/elderly/update}" th:object="${elderly}" method="post">
			<div class="form-group">
				<label class="font-weight-bold h3">Name</label>
				<input th:field="*{name}" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Name">
				<small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Surname</label>
				<input th:field="*{surname}" type="text" class="form-control" aria-describedby="surnameHelp" placeholder="Surname">
				<small th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" id="surnameHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">DNI</label>
				<input th:field="*{DNI}" type="text" class="form-control" aria-describedby="DNIHelp" placeholder="DNI">
				<small th:if="${#fields.hasErrors('DNI')}" th:errors="*{DNI}" id="DNIHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Birthdate</label>
				<input th:field="*{birthDate}" type="date" class="form-control" aria-describedby="birthDateHelp" placeholder="Birthdate">
				<small th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" id="birthDateHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Address</label>
				<input th:field="*{address}" type="text" class="form-control" aria-describedby="addressHelp" placeholder="Address">
				<small th:if="${#fields.hasErrors('address')}" th:errors="*{address}" id="addressHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Phone number</label>
				<input th:field="*{phoneNumber}" type="text" class="form-control" aria-describedby="phoneNumberHelp" placeholder="Phone number">
				<small th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" id="phoneNumberHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Bank account number</label>
				<input th:field="*{bankAccountNumber}" type="text" class="form-control" aria-describedby="bankAccountNumberHelp" placeholder="Bank account number">
				<small th:if="${#fields.hasErrors('bankAccountNumber')}" th:errors="*{bankAccountNumber}" id="bankAccountNumberHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Email</label>
				<input th:field="*{email}" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
				<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="emailHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Password</label>
				<input th:field="*{userPwd}" type="text" class="form-control" aria-describedby="userPwdHelp" placeholder="Password">
				<small th:if="${#fields.hasErrors('userPwd')}" th:errors="*{userPwd}" id="userPwdHelp" class="form-text text-danger"></small>
			</div>			
			<div class="form-group">
				<label class="font-weight-bold h3">Creation date</label>
				<input th:field="*{dateCreation}" type="date" class="form-control" aria-describedby="dateCreationHelp" placeholder="Creation date">
				<small th:if="${#fields.hasErrors('dateCreation')}" th:errors="*{dateCreation}" id="dateCreationHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Allergies</label>
				<input th:field="*{alergies}" type="text" class="form-control" aria-describedby="alergiesHelp" placeholder="Allergies">
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Diseases</label>
				<input th:field="*{diseases}" type="text" class="form-control" aria-describedby="diseasesHelp" placeholder="Diseases">
	
			</div>
			<button type="submit" class="btn btn-info w-100">Update elderly</button>
		</form>
	</div>
</div>	
</body>
</html>