<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/css/estilosnav.css"
	th:href="@{/css/estilosnav.css}" />
	
</head>

<body>
	<div th:replace="fragments/nav"></div>
	<!-- <div th:replace="fragments/logininfo"></div> -->
	<div layout:fragment="content"></div>
	<footer>
		<hr>
		<p class="text-muted">EI1027 - Disseny i Implementació de
			Sistemes d'Informació</p>
	</footer>
</body>
</html>
