<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/css/estiloslogininfo.css"
	th:href="@{/css/estiloslogininfo.css}" />
	
</head>

<body>	
	<div class="loggeduser" th:object="${session}"> 
	    <p th:if="*{user == null}"> 
		  Not authenticated <a href="/login" th:href="@{/login}">Sign in</a> 
	    </p>
	    <p th:unless="*{user == null}">
		  Authenticated as<span th:text="*{user.username}"></span> <a
				href="/logout" th:href="@{/logout}">Log out</a>
	    </p>
	</div>
</body>
</html>



