<nav class="navbar navbar-inverse">	
		<div class="container-fluid">
			<a href="/"> <img src="../logo.png" alt="Stickman" width="250"
				height="120" align="left">
			</a>
			<ul class="nav navbar-nav">
				<li><a class="boton" href="/">Home</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a class="boton" href="company/list">Sobre nosotros</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="boton" href="../elderly/add"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
				<li><a class="boton" href="../login"><span
						class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</nav>
