<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>New Company</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>New company</h2>
    <form action="#" th:action="@{/company/add}" 
                     th:object="${company}" method="post"> 
      <table>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name}" /></td> 
        </tr>
        <tr>
            <td><label>CIF</label></td>
            <td><input type="text" th:field="*{CIF}" /></td>
        </tr>
        <tr>
            <td><label>Address</label></td>
            <td><input type="text" th:field="*{address}" /></td>
        </tr>
        <tr>
            <td><label>Contact Person Name</label></td>
            <td><input type="text" th:field="*{contactPersonName}" /></td>
        </tr>
        <tr>
            <td><label>Contact Person Phone Number</label></td>
            <td><input type="text" th:field="*{contactPersonPhoneNumber}" /></td>
        </tr>
        <tr>
            <td><label>Contact Persone Email</label></td>
            <td><input type="text" th:field="*{contactPersonEmail}" /></td>
        </tr>
        <tr>
            <td><label>Service Type</label></td>
             <td><select class="form_control" type="text" th:field="*{serviceType}"> 
				<option value="No seleccionat">Selecciona el servei</option> 
				<option value="MenjarsADomicili">Menjars a domicili</option>
				<option value="ServeiSanitari">Servei sanitari</option>
				<option value="Neteja">Neteja</option>
				</select>
  </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Add Company" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
