<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<title>New company</title>
<meta charset="UTF-8" />


</head>

<body>
<div layout:fragment="content">
	<div class="container">	
		<h1 class="text-center">New company</h1>
		<form class="w-50 mx-auto" action="#" th:action="@{/company/add}" th:object="${company}" method="post">
			<div class="form-group">
				<label class="font-weight-bold h3">Name</label>
				<input th:field="*{name}" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Name">
				<small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">CIF</label>
				<input th:field="*{CIF}" type="text" class="form-control" aria-describedby="CIFHelp" placeholder="CIF">
				<small th:if="${#fields.hasErrors('CIF')}" th:errors="*{CIF}" id="CIFHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Password</label>
				<input th:field="*{password}" type="password" class="form-control" aria-describedby="passwordHelp" placeholder="Password">
				<small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" id="passwordHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Address</label>
				<input th:field="*{address}" type="text" class="form-control" aria-describedby="addressHelp" placeholder="Address">
				<small th:if="${#fields.hasErrors('address')}" th:errors="*{address}" id="addressHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Contact person name</label>
				<input th:field="*{contactPersonName}" type="text" class="form-control" aria-describedby="contactPersonNameHelp" placeholder="Contact person name">
				<small th:if="${#fields.hasErrors('contactPersonName')}" th:errors="*{contactPersonName}" id="contactPersonNameHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Contact person phone number</label>
				<input th:field="*{contactPersonPhoneNumber}" type="text" class="form-control" aria-describedby="contactPersonPhoneNumberHelp" placeholder="Contact person phone number">
				<small th:if="${#fields.hasErrors('contactPersonPhoneNumber')}" th:errors="*{contactPersonPhoneNumber}" id="contactPersonPhoneNumberHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Contact person email</label>
				<input th:field="*{contactPersonEmail}" type="email" class="form-control" aria-describedby="contactPersonEmailHelp" placeholder="Contact person email">
				<small th:if="${#fields.hasErrors('contactPersonEmail')}" th:errors="*{contactPersonEmail}" id="contactPersonEmailHelp" class="form-text text-danger"></small>
			</div>
			<div class="form-group">
				<label class="font-weight-bold h3">Service type</label>
				<select class="form-control" type="ServiceType" th:field="*{serviceType}">
							<option value="DINNER">Dinner</option>
							<option value="HEALTH_SERVICE">Health service</option>
							<option value="CLEANING">Cleaning</option>
					</select>				
			</div>
			<button type="submit" class="btn btn-info w-100">Add Company</button>
		</form>
	</div>
</div>	
</body>
</html>
