<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<title>List Company</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/estiloslist.css"
	th:href="@{/css/estiloslist.css}" />
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<div layout:fragment="content">
	<h1>List of companies</h1>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>CIF</th>
				<th>Password</th>
				<th>Address</th>
				<th>Contact person name</th>
				<th>Contact person phone number</th>
				<th>Contact person email</th>
				<th>Service type</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="company: ${companys}">
				<td th:text="${company.name}"></td>
				<td th:text="${company.CIF}"></td>
				<td th:text="${company.password}"></td>
				<td th:text="${company.address}"></td>
				<td th:text="${company.contactPersonName}"></td>
				<td th:text="${company.contactPersonPhoneNumber}"></td>
				<td th:text="${company.contactPersonEmail}"></td>
				<td th:text="${company.serviceType}"></td>
				<td><a class="btn btn-warning"
					th:href="@{/company/update/{CIF}(CIF=${company.CIF})}">Edita</a></td>
				<td><a class="btn btn-danger"
					th:href="@{/company/delete/{CIF}(CIF=${company.CIF})}">Esborra</a>
				</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-secondary btn-lg btn-block " href="add">Add
		company</a>
	</div>
</body>
</html>
