<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Modify Company</title>
<meta charset="UTF-8" />

<link rel="stylesheet" type="text/css" href="/css/estilosadd.css"
	th:href="@{/css/estilosadd.css}" />

</head>
<body>
	<!--Navigation bar-->
	<div id="nav-placeholder"></div>

	<script>
		$(function() {
			$("#nav-placeholder").load("navbar.html");
		});
	</script>
	<!--end of Navigation bar-->
	<h1>Modify company</h1>
	<form action="#" th:action="@{/company/update}" th:object="${company}"
		method="post">
		<table class="table table-sm">
			<tr>
					<td class="a"><label>Name:</label></td>
					<td class="b"><input type="text" th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
				</tr>
				<tr>
					<td class="a"><label>CIF:</label></td>
					<td class="b"><input type="text" th:field="*{CIF}" /></td>
					<td th:if="${#fields.hasErrors('CIF')}" th:errors="*{CIF}"></td>
				</tr>
				<tr>
					<td class="a"><label>Password:</label></td>
					<td class="b"><input type="password" th:field="*{password}" /></td>
					<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
				</tr>
				<tr>
					<td class="a"><label>Address:</label></td>
					<td class="b"><input type="text" th:field="*{address}" /></td>
					<td th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></td>
				</tr>
				<tr>
					<td class="a"><label>Contact person name:</label></td>
					<td class="b"><input type="text"
						th:field="*{contactPersonName}" /></td>
						<td th:if="${#fields.hasErrors('contactPersonName')}" th:errors="*{contactPersonName}"></td>
				</tr>
				<tr>
					<td class="a"><label>Contact person phone number:</label></td>
					<td class="b"><input type="text"
						th:field="*{contactPersonPhoneNumber}" /></td>
						<td th:if="${#fields.hasErrors('contactPersonPhoneNumber')}" th:errors="*{contactPersonPhoneNumber}"></td>
				</tr>
				<tr>
					<td class="a"><label>Contact person email:</label></td>
					<td class="b"><input type="text"
						th:field="*{contactPersonEmail}" /></td>
						<td th:if="${#fields.hasErrors('contactPersonEmail')}" th:errors="*{contactPersonEmail}"></td>
				</tr>
				<tr>
					<td class="a"><label>Service type:</label></td>
					<td class="b"><select class="form_control" type="ServiceType"
						th:field="*{serviceType}">
							<option value="DINNER">Dinner</option>
							<option value="HEALTH_SERVICE">Health service</option>
							<option value="CLEANING">Cleaning</option>
					</select></td>
				</tr>
			<tr>
				<td colspan="2"><input
					class="btn btn-info btn-lg btn-block " type="submit"
					value="Modify Company" />Modify company</td>
			</tr>
		</table>
	</form>
</body>
</html>
