<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Modify Company</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
<style>
td.a {
	text-align: rigth;
	width: 100px;
}

td.b {
	text-align: left;
	width: 100px;
}

h1 {
	color: black;
	text-align: center;
}

table {
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>
	<h1>Modify company</h1>
	<form action="#" th:action="@{/company/update}" th:object="${company}"
		method="post">
		<table class="table table-sm">
			<tr>
				<td class="a"><label>Name:</label></td>
				<td class="b"><input type="text" th:field="*{name}" /></td>
			</tr>
			<tr>
				<td class="a"><label>CIF:</label></td>
				<td class="b"><input type="text" th:field="*{CIF}" /></td>
			</tr>
			<tr>
				<td class="a"><label>Address:</label></td>
				<td class="b"><input type="text" th:field="*{address}" /></td>
			</tr>
			<tr>
				<td class="a"><label>Contact person name:</label></td>
				<td class="b"><input type="text"
					th:field="*{contactPersonName}" /></td>
			</tr>
			<tr>
				<td class="a"><label>Contact person phone number:</label></td>
				<td class="b"><input type="text"
					th:field="*{contactPersonPhoneNumber}" /></td>
			</tr>
			<tr>
				<td class="a"><label>Contact person email:</label></td>
				<td class="b"><input type="text"
					th:field="*{contactPersonEmail}" /></td>
			</tr>
			<tr>
				<td class="a"><label>Service type:</label></td>
				<td class="b"><select class="form_control" type="ServiceType"
					th:field="*{serviceType}">
						<option value="DINNER">Dinner</option>
						<option value="HEALTH_SERVICE">Health service</option>
						<option value="CLEANING">Cleaning</option>
				</select></td>
			</tr>
			<tr>
				<td colspan="2"><input
					class="btn btn-secondary btn-lg btn-block " type="submit"
					value="Modify Company" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
