<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>New Contract</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>New contract</h2>
    <form action="#" th:action="@{/contract/add}" 
                     th:object="${contract}" method="post"> 
      <table>
        <tr>
            <td><label>Number</label></td>
            <td><input type="text" th:field="*{number}" /></td> 
        </tr>
        <tr>
            <td><label>Company CIF</label></td>
            <td><input type="text" th:field="*{companyCIF}" /></td>
        </tr>
        <tr>
            <td><label>Date Beginning</label></td>
            <td><input type="text" th:field="*{dateBeginning}" /></td>
        </tr>
        <tr>
            <td><label>Date Ending</label></td>
            <td><input type="text" th:field="*{dateEnding}" /></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><label>Service Type</label></td>
            <td><select class="form_control" type="ServiceType" th:field="*{serviceType}"> 
				<option value="No seleccionat">Select service</option> 
				<option value="DINNER">Dinner</option>
				<option value="HEALTH_SERVICE">Health service</option>
				<option value="CLEANING">Cleaning</option>
				</select>
  			</td>
        </tr>
        <tr>
            <td><label>Quantity Services</label></td>
            <td><input type="text" th:field="*{quantityServices}" /></td>
        </tr>
        <tr>
            <td><label>Units of Mesure</label></td>
            <td><input type="text" th:field="*{unitsOfMesure}" /></td>
        </tr>
        <tr>
            <td><label>Price Unit</label></td>
            <td><input type="text" th:field="*{priceUnit}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Add Company" /></td>
        </tr>
      </table>
    </form>
</body>
</html>