<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>List Company</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>List of Company</h1>
   <table>
     <thead>
       <tr>
         <th>Number</th>
         <th>Company CIF</th>
         <th>Date Beginning</th>
         <th>Date Ending</th>
         <th>Description</th>
         <th>Service Type</th>
         <th>Quantity Services</th>
         <th>Units of Mesure</th>
         <th>Price Unit</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="contract: ${contracts}"> 
         <td th:text="${contract.number}"></td> 
         <td th:text="${contract.companyCIF}"></td>
         <td th:text="${contract.dateBeginning}"></td>
         <td th:text="${contract.dateEnding}"></td>
         <td th:text="${contract.description}"></td>
         <td th:text="${contract.serviceType}"></td>
         <td th:text="${contract.quantityServices}"></td>
         <td th:text="${contract.unitsOfMesure}"></td>
         <td th:text="${contract.priceUnit}"></td>
         <td><a th:href="@{/contract/update/{number}(number=${contract.number})}">Edita</a> 
         </td>
         <td><a th:href="@{/contract/delete/{number}(number=${contract.number})}">Esborra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add">Add contract</a> 
</body>
</html>