<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Modify Contract</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
<style>
td.a {
	text-align: rigth;
	width: 100px;
}

td.b {
	text-align: left;
	width: 100px;
}

h1 {
	color: black;
	text-align: center;
}

table {
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>
	<h1>Modify contract</h1>
	<form action="#" th:action="@{/contract/update}"
		th:object="${contract}" method="post">
		<table class="table table-sm">
			<tr>
				<td class="a"><label>Number:</label></td>
				<td class="b"><input type="text" th:field="*{number}" /></td>
			</tr>
			<tr>
				<td class="a"><label>Company CIF:</label></td>
				<td class="b"><input type="text" th:field="*{companyCIF}" /></td>
			</tr>
			<tr>
				<td class="a"><label>Date beginning:</label></td>
				<td class="b"><input type="date" th:field="*{dateBeginning}" /></td>
			</tr>
			<tr>
				<td class="a"><label>Date ending:</label></td>
				<td class="b"><input type="date" th:field="*{dateEnding}" /></td>
			</tr>
			<tr>
				<td class="a"><label>Description:</label></td>
				<td class="b"><input type="text" th:field="*{description}" /></td>
			</tr>
			<tr>
				<td class="a"><label>Service type:</label></td>
				<td class="b"><select class="form_control" type="ServiceType"
					th:field="*{serviceType}">
						<option value="No seleccionat">Select service</option>
						<option value="DINNER">Dinner</option>
						<option value="HEALTH_SERVICE">Health service</option>
						<option value="CLEANING">Cleaning</option>
				</select></td>
			</tr>
			<tr>
				<td class="a"><label>Quantity services</label></td>
				<td class="b"><input type="text" th:field="*{quantityServices}" /></td>
			</tr>
			<tr>
				<td class="a"><label>Units of mesure</label></td>
				<td class="b"><input type="text" th:field="*{unitsOfMesure}" /></td>
			</tr>
			<tr>
				<td class="a"><label>Price unit</label></td>
				<td class="b"><input type="text" th:field="*{priceUnit}" /></td>
			</tr>
			<tr>
				<td colspan="2"><input
					class="btn btn-secondary btn-lg btn-block " type="submit"
					value="Modify contract" /></td>
			</tr>
		</table>
	</form>
</body>
</html>