<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<title>New request</title>
<meta charset="UTF-8" />

<link rel="stylesheet" type="text/css" href="/css/estilosadd.css"
	th:href="@{/css/estilosadd.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h1>New request</h1>
		<form action="#" th:action="@{/request/add}" th:object="${request}"
			method="post">
			<table class="table">
				<tr style="display:none">
				<td class="a"><label>Number</label></td>
				<td class="b"><input type="text" th:field="*{number}" /></td>
				<td class="b" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></td>
				
			</tr>
				<tr>
					<td class="a"><label>Elderly DNI:</label></td>
					<td class="b"><select th:field="*{elderlyDNI}">
					 <option th:each="elderly: ${elderlys}" th:value="${elderly.DNI}" th:text="${elderly.DNI} + ' - ' + ${elderly.name}">
						    </option>
						</select>
						</td>
				</tr>
				
				<tr>
					<td class="a"><label>Service type:</label></td>
					<td class="b"><select class="form_control" type="ServiceType" th:field="*{serviceType}">
							<option value="DINNER">Dinner (10 euro per meal)</option>
							<option value="HEALTH_SERVICE">Health service</option>
							<option value="CLEANING">Cleaning</option>
					</select></td>
				</tr>
				<tr>
					<td class="a"><label>Creation date:</label></td>
					<td class="b"><input type="date"
						th:field="*{creationDate}" /></td>
						<td class="b" th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}"></td>
				</tr>
				
<!-- 				<tr>
					<td class="a"><label>Schedule:</label></td>
					<td class="b"><input type="text" th:field="*{schedule}" /></td>
				</tr>  -->
				<tr>
					<td class="a"><label>Comments:</label></td>
					<td class="b"><input type="text" th:field="*{comments}" /></td>
					<td class="b" th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"></td>
				</tr>
				<tr>
					<td class="a"><label>End date:</label></td>
					<td class="b"><input type="date" th:field="*{endDate}" /></td>
					<td class="b" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></td>
				</tr>

				<tr>
					<td colspan="2"><input
						class="btn btn-info btn-lg btn-block" type="submit"
						value="Add request" /></td>
				</tr> 
				
				<!-- <tr>
					<td colspan="2"><input type="submit"
							class="btn btn-info btn-lg btn-block" data-toggle="modal"
							data-target="#exampleModal" value="Add request"/>
							
						<div class="modal fade" id="exampleModalCenter" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalCenterTitle"
							aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLongTitle">Modal
											title</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">...</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary">Save
											changes</button>
									</div>
								</div>
							</div>
						</div></td>


				</tr> -->
				
			</table>
		</form>
	</div>
</body>
</html>