<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<title>New request</title>
<meta charset="UTF-8" />

</head>
<body>
	<div layout:fragment="content">
		<div class="container">	
			<h1 class="text-center">New request</h1>
			<form class="w-50 mx-auto" action="#" th:action="@{/request/add}" th:object="${request}" method="post">
	 			<div class="form-group" style="display:none">
					<label class="font-weight-bold h3">Number</label>
					<input th:field="*{number}" type="text" class="form-control" aria-describedby="numberHelp" placeholder="Number">
					<small th:if="${#fields.hasErrors('number')}" th:errors="*{number}" id="numberHelp" class="form-text text-danger"></small>
				</div> 
				<div class="form-group">
					<label class="font-weight-bold h3">Elderly DNI</label>
					<select class="form-control" th:field="*{elderlyDNI}">
							    <option th:each="elderly: ${elderlys}" th:value="${elderly.DNI}"
									th:text="${elderly.DNI} + ' - ' + ${elderly.name}"></option>
					</select>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Service type</label>
					<select class="form-control" type="ServiceType" th:field="*{serviceType}">
								<option value="DINNER">Dinner (10 euro per meal)</option>
								<option value="HEALTH_SERVICE">Health service</option>
								<option value="CLEANING">Cleaning</option>
						</select>				
				</div>				
				<div class="form-group">
					<label class="font-weight-bold h3">Creation date</label>
					<input th:field="*{creationDate}" type="date" class="form-control" aria-describedby="creationDateHelp" placeholder="Creation date">
					<small th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}" id="creationDateHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Comments</label>
					<input th:field="*{comments}" type="text" class="form-control" aria-describedby="commentsHelp" placeholder="Comments">
					<small th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}" id="commentsHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">End date</label>
					<input th:field="*{endDate}" type="date" class="form-control" aria-describedby="endDate" placeholder="End date">
					<small th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" id="endDate" class="form-text text-danger"></small>
				</div>
	
						
				<button type="submit" class="btn btn-info w-100">Add request</button>
			</form>
		</div>
	</div>	
</body>
</html>