<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<title>Update request</title>
<meta charset="UTF-8" />

<link rel="stylesheet" type="text/css" href="/css/estilosadd.css"
	th:href="@{/css/estilosadd.css}" />
	
</head>
<body>
	<div layout:fragment="content">
		<div class="container">	
			<h1 class="text-center">Update request</h1>
			<form class="w-50 mx-auto" action="#" th:action="@{/request/updateforelderly}" th:object="${request}" method="post">
	 			<div class="form-group" style="display:none">
					<label class="font-weight-bold h3">Number</label>
					<input th:field="*{number}" type="text" class="form-control" aria-describedby="numberHelp" placeholder="Number">
					<small th:if="${#fields.hasErrors('number')}" th:errors="*{number}" id="numberHelp" class="form-text text-danger"></small>
				</div> 
				<div class="form-group">
					<label class="font-weight-bold h3">Elderly DNI</label>
					<input th:field="*{elderlyDNI}" readonly type="text" class="form-control" aria-describedby="elderlyDNIHelp" placeholder="Elderly DNI">
					<small th:if="${#fields.hasErrors('elderlyDNI')}" th:errors="*{elderlyDNI}" id="elderlyDNIHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Contract number - Company CIF</label>
					<select class="form-control" th:field="*{contractNumber}">
							 <option th:each="contract: ${contracts}" th:value="${contract.number}" th:text="${contract.number} + ' - ' + ${contract.companyCIF}">
						    </option>
					</select>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Service type</label>
					<select class="form-control" type="ServiceType" th:field="*{serviceType}">
								<option value="DINNER">Dinner</option>
								<option value="HEALTH_SERVICE">Health service</option>
								<option value="CLEANING">Cleaning</option>
						</select>				
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Creation date</label>
					<input th:field="*{creationDate}" type="date" class="form-control" aria-describedby="creationDateHelp" placeholder="Creation date">
					<small th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}" id="creationDateHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">State</label>
					<select class="form-control" type="state" th:field="*{state}">
								<option value="DONE">Done</option>
								<option value="ACCEPTED">Accepted</option>
								<option value="REJECTED">Rejected</option>
						</select>				
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Approved date</label>
					<input th:field="*{approvedDate}"  type="date" class="form-control" aria-describedby="approvedDateHelp" placeholder="Approved date">
					<small th:if="${#fields.hasErrors('approvedDate')}" th:errors="*{approvedDate}" id="approvedDateHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Rejected date</label>
					<input th:field="*{rejectedDate}"  type="date" class="form-control" aria-describedby="rejectedDateHelp" placeholder="Rejected date">
					<small th:if="${#fields.hasErrors('rejectedDate')}" th:errors="*{rejectedDate}" id="rejectedDateHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Comments</label>
					<input th:field="*{comments}"   type="text" class="form-control" aria-describedby="commentsHelp" placeholder="Comments">
					<small th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}" id="commentsHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">End date</label>
					<input th:field="*{endDate}"  type="date" class="form-control" aria-describedby="endDateHelp" placeholder="End date">
					<small th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" id="endDateHelp" class="form-text text-danger"></small>
				</div>
						
				<button type="submit" class="btn btn-info w-100">Update request</button>
			</form>
		</div>
	</div>	
</body>
</html>


