<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<title>Update request</title>
<meta charset="UTF-8" />

	
</head>
<body>
	<div layout:fragment="content">
		<div class="container">	
			<h1 class="text-center">Update request</h1>
			<form class="w-50 mx-auto" action="#" th:action="@{/request/update}" th:object="${request}" method="post">
	 			<div class="form-group" style="display:none">
					<label class="font-weight-bold h3">Number</label>
					<input th:field="*{number}" type="text" class="form-control" aria-describedby="numberHelp" placeholder="Number">
					<small th:if="${#fields.hasErrors('number')}" th:errors="*{number}" id="numberHelp" class="form-text text-danger"></small>
				</div> 
				<div class="form-group">
					<label class="font-weight-bold h3">Elderly DNI</label>
					<input th:field="*{elderlyDNI}" readonly type="text" class="form-control" aria-describedby="elderlyDNIHelp" placeholder="Elderly DNI">
					<small th:if="${#fields.hasErrors('elderlyDNI')}" th:errors="*{elderlyDNI}" id="elderlyDNIHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Contract number</label>
					<input th:field="*{contractNumber}" readonly type="text" class="form-control" aria-describedby="contractNumberHelp" placeholder="Contract number - Company CIF">
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Service type</label>
					<input th:field="*{serviceType}" readonly type="text" class="form-control" aria-describedby="serviceTypeHelp" placeholder="Service type">
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Creation date</label>
					<input th:field="*{creationDate}" readonly type="date" class="form-control" aria-describedby="creationDateHelp" placeholder="Creation date">
					<small th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}" id="creationDateHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">State</label>
					<input th:field="*{state}" readonly type="text" class="form-control" aria-describedby="stateHelp" placeholder="State">
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Approved date</label>
					<input th:field="*{approvedDate}" readonly type="date" class="form-control" aria-describedby="approvedDateHelp" placeholder="Approved date">
					<small th:if="${#fields.hasErrors('approvedDate')}" th:errors="*{approvedDate}" id="approvedDateHelp" class="form-text text-danger"></small>
				</div>

				<div class="form-group">
					<label class="font-weight-bold h3">Comments</label>
					<input th:field="*{comments}" readonly  type="text" class="form-control" aria-describedby="commentsHelp" placeholder="Comments">
					<small th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}" id="commentsHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">End date</label>
					<input th:field="*{endDate}" readonly type="date" class="form-control" aria-describedby="endDateHelp" placeholder="End date">
					<small th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" id="endDateHelp" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label class="font-weight-bold h3">Schedule</label>
					<input th:field="*{schedule}" type="text" class="form-control" aria-describedby="scheduleHelp" placeholder="Schedule">
				</div>
						
				<button type="submit" class="btn btn-info w-100">Update request</button>
			</form>
		</div>
	</div>	
</body>
</html>


