<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<title>Update request</title>
<meta charset="UTF-8" />

<link rel="stylesheet" type="text/css" href="/css/estilosupdate.css"
	th:href="@{/css/estilosupdate.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h1>Update request</h1>
		<form action="#" th:action="@{/request/update}" th:object="${request}"
			method="post">
			<table class="table">
				<tr style="display:none">
				<td class="a"><label>Number</label></td>
				<td class="b"><input type="text" th:field="*{number}" /></td>
				<td class="b" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></td>
				
			</tr>
				<tr>
					<td class="a"><label>Elderly DNI:</label></td>
					<td class="b"><input type="text" th:field="*{elderlyDNI}" /></td>
					<td class="b" th:if="${#fields.hasErrors('elderlyDNI')}" th:errors="*{elderlyDNI}"></td>
				</tr>
				<tr>
					<td class="a"><label>Contract number - Company CIF:</label></td>
					<td class="b"><select th:field="*{contractNumber}">
					 <option th:each="contract: ${contracts}" th:value="${contract.number}" th:text="${contract.number} + ' - ' + ${contract.companyCIF}">
						    </option>
						</select>
					
				</tr>
				<tr>
					<td class="a"><label>Service type:</label></td>
					<td class="b"><select class="form_control" type="ServiceType" th:field="*{serviceType}">
							<option value="DINNER">Dinner</option>
							<option value="HEALTH_SERVICE">Health service</option>
							<option value="CLEANING">Cleaning</option>
					</select></td>
				</tr>
				<tr>
					<td class="a"><label>Creation date:</label></td>
					<td class="b"><input type="date"
						th:field="*{creationDate}" /></td>
						<td class="b" th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}"></td>
				</tr>
				<tr>
					<td class="a"><label>State:</label></td>
					<td class="b"><select class="form_control" type="state" th:field="*{state}">
							<option value="DONE">Done</option>
							<option value="ACCEPTED">Accepted</option>
							<option value="REJECTED">Rejected</option>
					</select></td>
				</tr>
				<tr>
					<td class="a"><label>Approved date:</label></td>
					<td class="b"><input type="date" th:field="*{approvedDate}" /></td>
					<td class="b" th:if="${#fields.hasErrors('approvedDate')}" th:errors="*{approvedDate}"></td>
				</tr>
				<tr>
					<td class="a"><label>Rejected date:</label></td>
					<td class="b"><input type="date" th:field="*{rejectedDate}" /></td>
					<td class="b" th:if="${#fields.hasErrors('rejectedDate')}" th:errors="*{rejectedDate}"></td>
				</tr>
				<tr>
					<td class="a"><label>Comments:</label></td>
					<td class="b"><input type="text" th:field="*{comments}" /></td>
					<td class="b" th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"></td>
				</tr>
				<tr>
					<td class="a"><label>End date:</label></td>
					<td class="b"><input type="date" th:field="*{endDate}" /></td>
					<td class="b" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></td>
				</tr>

				<tr>
					<td colspan="2"><input
						class="btn btn-info btn-lg btn-block" type="submit"
						value="Update request" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>


