<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    >
<head>
<title>EI1027</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />

</head>
<body>
	
		CAS MANAGER 
		<a href= "company/list" type="button" class="btn btn-primary btn-lg btn-block">Gestionar empresas</a>
		<a href= "contract/list" type="button" class="btn btn-primary btn-lg btn-block">Gestionar contratos</a>
	
</body>
</html>